/* FORMATACAO GERAL */

input, textarea {
    border: none;
    outline: none;
    border-radius: 0;
    color: var(--text-color);
    font-family:  sans-serif, Arial, Helvetica !important; /* Coerção para Firefox */
    font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=text], input[type=date],
input[readonly] {
    font-weight: bold;
}

input[readonly] {
    cursor: context-menu;
    transition: background-color 400ms ease-out;
}

input[readonly].bg-gray {
    background-color: var(--gray-c) !important;
}

div.container input:focus {
    border-bottom: 1px solid var(--blue);
}

/* CSS REUTILIZÁVEL */ 

/* Bordas */
div.ficha header > div:nth-child(n+2),
div.ficha div.linha-de-sexo-e-faixas-etarias span,
div.body div.coluna-de-livro-de-registo span,
.coluna-de-indicadores,
section div.indicadores span,
div.situacao-escolar div.titulo,
section.contracepcao-e-protecao div.subtitulo-2,
div.inputs-container input {
    border-left: 1px solid var(--border-color);
}

div.container input, div.container input[readonly]:focus,
div.ficha div.linha-de-indicadores,
div.grade-de-sexo span.sexo,
div.grade-de-total-parcial span.total,
div.body div.coluna-de-numeros-das-linhas span,
div.body div.coluna-de-livro-de-registo span,
.coluna-de-indicadores section:nth-child(n+2),
section div.indicadores span,
section.consultas div.titulo,
section.contracepcao-e-protecao div.subtitulo-2 span {
    border-bottom: 1px solid var(--border-color);
}

/* Display: flex */
div.ficha header > div:last-child,
div.ficha header span,
div.coluna-de-numeros-das-linhas span,
div.coluna-de-livro-de-registo span,
section.contracepcao-e-protecao div.subtitulo-2 span {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media print {
    div.emblema-e-republica,
    div.ficha, div.nota {
        visibility: visible;
    }
}

div.container {
    max-width: 1312px;
    min-width: 1312px;
    margin: 30px auto 10px auto;
}

div.container input[type=text],
input[type=date] {
    font-weight: bold;
}

div.container input[type=number] {
    text-align: center;
    padding: 1px 2px;
}

div.container input[type=number].fundo-vermelho {
    background-color: var(--danger-color) !important;
    color: var(--yt);
}

div.container input[readonly] {
    font-weight: bold;
    cursor: default;
    transition: background-color 400ms ease-out;
}

div.container input[readonly].bg-gray {
    background-color: var(--gray-c);
}

div.container input[type=number].nao-aplicavel {
    background-color: var(--gray) !important;
}

div.container > header {
    display: grid;
    grid-template-columns: 335px 1fr;
    text-transform: uppercase;
    margin-left: 55px;
}

header div.emblema-e-republica {
    display: none;
}

@media print {
    div.container > header {
        grid-template-columns: 300px 335px 1fr;
        margin-left: 50px;
    }

    header div.emblema-e-republica {
        display: flex;
    }
}

div.emblema-e-republica figure {
    margin: 0;
    width: 65px;
    height: 65px;
}

div.emblema-e-republica figure img {
    height: 100%;
}

header div.republica {
    line-height: 1.5;
}

header div.republica span {
    display: block;
}

header div.geo div {    
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 5px;
    overflow: hidden;
}

header div.geo label {    
    align-self: center;
}

header div.geo input {
    width: 100%;
    margin-left: 4px;
}

header div.visto {
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: initial;
    margin-right: 50px;
}

header div.visto input {
    text-align: center;
    margin-top: 8px;
}

header h1 {
    grid-column: 1/4;
    margin: 20px 0 10px 56px;
    font-size: inherit;
    font-weight: bold;
}

@media print {
    header h1 {
        margin-left: 62px;
    }
}

/* FICHA */
div.ficha header span {
    height: 100%;
    min-height: 24px;
}

div.ficha header {
    display: grid;
    grid-template-columns: repeat(2, 55px) 1150px 55px;
    background-color: var(--primary-color);
    text-align: center;
    border: 1px solid var(--border-color);
    border-bottom: none;
    font-weight: bold;
    line-height: 1.4;
    position: sticky;
    top: 0;
    z-index: 10000;
}

@media print {
    div.ficha header {
        position: initial;
    }
}

div.ficha header > div:first-child {
    background-color: var(--yt);
    color: var(--text-color)
}

div.ficha header > div:nth-child(2),
div.linha-de-indicadores {
    color: var(--yt);
}

div.ficha div.linha-de-sexo-e-faixas-etarias {
    display: grid;
    grid-template-columns: 599px repeat(2, calc(45px*5)) 100px;
    grid-template-areas: ". sexo-m sexo-f total-parcial";
}

div.ficha div.linha-de-sexo-e-faixas-etarias div.grade-de-sexo.m {
    grid-area: sexo-m;
}

div.ficha div.linha-de-sexo-e-faixas-etarias div.grade-de-sexo.f {
    grid-area: sexo-f;
}

div.ficha div.linha-de-sexo-e-faixas-etarias div.grade-de-total-parcial {
    grid-area: total-parcial;
}

div.grade-de-sexo {
    display: grid;
    grid-template-columns: repeat(5, 45px);
    font-size: 11px;
}

div.grade-de-sexo span.sexo {
    grid-column: 1/6;
}

div.grade-de-total-parcial {
    display: grid;
    grid-template-columns: repeat(2, 50px);
}

div.grade-de-total-parcial span.total {
    grid-column: 1/3;
}

div.grade-de-total-parcial span:nth-child(n+2) {
    font-size: 9.5px;
}

/* BODY DA FICHA */

div.ficha div.body {
    display: grid; 
    grid-template-columns: repeat(2, 55px) 600px repeat(10, 45px) repeat(3, 50px);
    border: 1px solid var(--border-color);
    border-bottom: none;
}

div.body div.coluna-de-numeros-das-linhas {
    display: grid;
    grid-template-rows: 24px;
}

div.body div.coluna-de-numeros-das-linhas span,
div.body div.coluna-de-livro-de-registo span {
    text-align: center;
}

div.body div.coluna-de-numeros-das-linhas span.fundo-laranja {
    background-color: var(--orange);
    color: var(--yt);
}

div.body div.coluna-de-livro-de-registo {
    display: grid;
    grid-template-rows: calc(24px*2) calc(24px*5) repeat(11, 24px) calc(24px*3) repeat(8, 24px) calc(24px*3) calc(24px*3)  calc(24px*2) repeat(17, 24px) calc(24px*2) repeat(2, 24px) calc(24px*5);
    background-color: var(--gray-d);
}

div.body div.coluna-de-livro-de-registo span:first-child {
    background-color: var(--text-color);
}

/* Coluna-de-indicadores */
div.coluna-de-indicadores {
    display: grid;
    grid-template-rows: calc(24px*2) calc(24px*7) 24px calc(24px*8) calc(24px*4) calc(24px*2) calc(24px*5) calc(24px*3) calc(24px*5) calc(24px*3) repeat(2, calc(24px*2)) calc(24px*12) repeat(2, 24px) calc(24px*5);
}

@media screen and (min-width: 670px) and (max-width: 1312px) {
    div.coluna-de-indicadores {
        position: sticky;
        left: -75px;
        background-color: var(--yt);
        z-index: 5000;
    }
}

@media print {
    div.coluna-de-indicadores {
        position: initial;
    }
}

/* SECTIONS */
div.coluna-de-indicadores section:nth-child(n+4) {
    display: grid;
    grid-template-columns: 150px 1fr;
}

div.coluna-de-indicadores section div.indicadores {
    display: grid;
    grid-template-rows: 24px;
}

section div.indicadores span {
    min-height: 24px;
    max-height: 24px;
    padding: 1px 4px;
}

section:nth-child(3) div.indicadores span:last-child {
    border-bottom: none;
}

section div.titulo,
section div.indicadores span {
    display: flex;
    align-items: center;
}

section div.titulo  {
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

section div.titulo  span {
    line-height: 1.4;
}

/* consultas */
div.coluna-de-indicadores section.consultas {
    display: grid;
    grid-template-columns: 60px 1fr;
}

/* Encaminhamento */
div.coluna-de-indicadores section.encaminhamento {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-areas: ". div1" 
                         ". situacao";
}

section.encaminhamento > div.indicadores {
    grid-area: div1;
}

div.situacao-escolar {
    grid-area: situacao;
    display: grid;
    grid-template-columns: 60px 1fr;
}

/* Parceiros presentes */
section.parceiros-presentes div.titulo {
    height: 100%;
    font-weight: initial;
} 

/* Rastreio de Ca do colo */
section.rastreio-de-ca-do-colo div.titulo {
    flex-direction: column;
    justify-content: space-around;
}

/* Contracepção e Protecção */
section.contracepcao-e-protecao div.titulo {
    display: grid;
    grid-template-columns: 60px 1fr;
}

section.contracepcao-e-protecao div.subtitulo-1 {
    transform: rotate(-90deg) translateY(-45px);
    min-width: 150px;
}

section.contracepcao-e-protecao div.subtitulo-2 {
    display: grid;
    grid-template-rows: calc(24px*3) repeat(3, calc(24px*2)) 24px calc(24px*2);
}

section.contracepcao-e-protecao div.subtitulo-2 span {
    height: 100%;
    line-height: 1;
}

/* INPUT CONTAINER */
div.inputs-container {
    display: grid;
    grid-template-columns: 45px;
    grid-template-rows: 24px;
}

div.inputs-container.total {
    grid-template-columns: 50px;
}

div.inputs-container input {
    max-width: 100%;
    max-height: 100%;
}

/* FOOTER DA FICHA */

div.ficha footer {
    display: grid;
    grid-template-columns: repeat(3, 367px);
    padding: 15px 100px 10px 110px;
}

div.ficha footer div.compilacao {
    justify-self: center;
}

div.ficha footer div.assinatura {
    justify-self: end;
}

/* SECCAO DE NOTA */
div.nota {
    margin-bottom: 20px;
}

@media screen and (max-width: 1312px) {
    div.linha.nota {
        padding-left: 0px;
        padding-right: 0px;
    }
}

div.nota textarea {
    font: 14px Arial, Helvetica, san-serif;
    min-width: 880px;
    padding: 5px;
    line-height: 1.5;
    border: 1px solid var(--border-color);
}

@media print {
    div.nota.no-print {
        display: none;
    }

    div.nota textarea {
        padding: 0;
    }
}

div.nota textarea.bold {
    font-weight: bold;
    border-color: transparent;
}

div.nota textarea:focus {
    border-color: var(--blue);
}
