/* FORMATAÇÕES GERAIS */
:root {
    --primary-color: #c0c5da;
    --secondary-color: #6985a7;
    --border-color: #555555;
    --anchor-color: #1558bc;
    --text-color: #333333;
    --danger-color: #dd0000;
    --danger-color-alpha-8: rgba(238, 0, 0, .8);
    --yt: #ffffff;
    --fullblack: #000000;
    --black-alpha-5: rgba(0, 0, 0, .5);
    --black-alpha-8: rgba(0, 0, 0, .8);
    --btn-bgc: var(--secondary-color);
    --footer-bgc: var(--primary-color);
    --important-text-bgc: #f4f4f4;
    --gray: #888888;
    --gray-a: #aaaaaa;
    --gray-c: #cccccc;
    --gray-d: #dddddd;
    --gray-light: #f0f0f0;
    --blue: #0060EE; 
    --purple: rgb(116, 116, 235);
    --btn-hover-bgc: var(--purple);
    --orange: #faa032;
}

@media print {
    :root {
        --border-color: var(--fullblack);
        --text-color: var(--fullblack);
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif, Arial, Helvetica !important;
    font-size: 12px;
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-d);
}

@media print {
    @page {
        margin: 0.5cm 0.5cm 1cm 0.5cm;
        size: landscape;
    }

    @page :first {
        margin-bottom: 0.5cm;
    }
    
    
    body {
        -webkit-print-color-adjust: exact;
        visibility: hidden;
    }
}

body.overflow-hidden {
    overflow: hidden;
}

main {
    flex: 1;
    background-color: var(--yt);
}

@media screen and (max-width: 1312px) {
    main {
        max-width: 100%;
        overflow: auto;
        padding: 0 15px;
    }
}

*::selection {
    background-color: var(--secondary-color);
    color: var(--yt);
}

a {
    text-decoration: none;
    color: var(--anchor-color);
}

button {
    border: none;
    outline: none;
    color: var(--text-color);
    font-family:  sans-serif, Arial, Helvetica  !important; /* Coerção para Firefox */
}

button:hover {
    cursor: pointer;
}

a:active, button:active {
    opacity: 0.7;
}

/* Tags de texto */
p, li, dt, dd, article span,
h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    cursor: default;
}

h1, h2, h3, h4, h5, h6, dt, li  {
    margin-bottom: 10px;
}

p, dd, figure, li:last-child, figure {
    margin-bottom: 15px;
}

dd.mb-10, p.mb-10 {
    margin-bottom: 10px;
}

ul, ol, dl {
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--fullblack);
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5, dt {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

b, strong,.destaque {
    font-weight: bold;
}

.destaque {
    padding: 5px 5px 5px 10px;
    border-left: 6px solid var(--primary-color);
    background-color: var(--important-text-bgc);
}

img {
    max-width: 100%;
}

/* CSS REUTILIZAVEL */
section.menu li.destacar-as-celulas-automaticas:hover,
section.menu li.destacar-as-celulas-automaticas label,
section.menu li input[type=checkbox] {
    cursor: pointer;
}

/* CABEÇALHO */
body > header, 
body > footer {
    width: 100%;
}

@media print {
    body > header,
    body > footer {
        display: none;
    }
}

body > header {
    line-height: 2;
    box-shadow: 0 0 10px var(--gray-d);
    background-color: var(--yt);
    z-index: 1;
}

div.linha {
    max-width: 1312px;
    margin: 0 auto;
}

@media screen and (max-width: 1312px) {
    div.linha {
        padding-left: 15px;
        padding-right: 15px;
    }
}

div.linha.do-cabecalho {
    display: flex;
    align-items: center;
}

div.linha.do-cabecalho a.logo {
    font-size: 18px;
    color: var(--fullblack);
    font-weight: bold;
    cursor: default;
}

@media screen and (max-width: 1023px) {
    div.linha.do-cabecalho {
        flex-direction: column;
        align-items: flex-start;
        overflow: auto;
    } 

    div.linha.do-cabecalho::-webkit-scrollbar {
        height: 6px;
    } 

    div.linha.do-cabecalho::-webkit-scrollbar-thumb {
        background-color: var(--gray-a);
        border-radius: 50px;
    } 

    div.linha.do-cabecalho a.logo {
        line-height: 1.2;
        margin-top: 8px;
        position: sticky;
        left: 0;
    }
}

@media screen and (max-width: 372px) {
    div.linha.do-cabecalho a.logo {
        font-size: 16px;
    }
}

@media screen and (max-width: 358px) {
    div.linha.do-cabecalho a.logo span {
        display: none;
    }
}

/* SECÇÃO DE NAVEGAÇÃO */
section.menu, 
section.menu ul,
section.menu li.destacar-as-celulas-automaticas {
    display: flex;
    align-items: center;  
}

section.menu {
    flex: 1;
    justify-content: flex-end;
    margin-right: -10px;
}

section.menu ul li {
/* Reset */
    margin: 0;
}

section.menu ul li.partilha {
    display: none;
}

@media screen and (max-width: 1023px) {
    section.menu ul li.partilha {
        display: initial;
    }

    section.menu,
    section.menu ul {
        width: 100%;
    } 

    section.menu {
        min-width: 680px;
    }

    section.menu ul li {
        flex: 1;
        text-align: center;
    }

    section.menu li.destacar-as-celulas-automaticas {
        justify-content: center;
    }

    section.menu li.sobre {
        display: none;
    }

    section.menu li button {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    section.menu {
        min-width: 506px;
    }
}

section.menu li label {
    padding: 10px 10px 10px 0;
}

section.menu li input[type=checkbox] {
    width: 12px;
    height: 11px;
    margin: 1px 4px 3px 4px;
}

/* BOTÕES DO MENU */
section.menu li button {
    background-color: inherit;
    font-size: 12px;
    display: inline-block;
    padding: 12px;
}

section.menu button {
    background-color: inherit;
    font-size: 12px;
    display: inline-block;
    padding: 12px;
}

section.menu button.salvar-como-pdf span.question-mark {
    font-weight: bold;
    padding: 2px 4px 1px 4px;
    border: thin dotted var(--border-color);
    border-radius: 50%;
    cursor: help;
}

@media screen and (max-width: 1023px) {
    section.menu li.impressao,
    section.menu button.salvar-como-pdf span.question-mark {
        display: none;
    }
}

/* ESTADOS DOS ELEMENTOS DO MENU (HOVERS E ACTIVES) */
section.menu li:first-child:hover,
section.menu li button:hover,
section.menu li a:hover {
    background-color: var(--gray-light);
}

section.menu ul li:first-child:active {
    opacity: 0.7;
}

/* RODAPÉ */
body > footer {
    background-color: var(--footer-bgc);
    padding: 30px 0;
    color: var(--border-color);
}

footer div.linha.do-rodape {
    position: relative;
}

footer div.linha.do-rodape a.voltar {
    position: absolute;
    top: -15px;
    right: 0;
    display: block;
    padding: 10px;
    margin-right: -10px;
    font-size: 24px;
    color: var(--gray);
}

@media screen and (max-width: 1312px) {
    footer div.linha.do-rodape a.voltar {
        right: 15px;
    }
}

div.linha.do-rodape > p {
    margin: 0;
    text-align: center;
    color: var(--text-color);
    padding: 15px 0;
}

div.linha.do-rodape > *:nth-child(2) {
    border-bottom: 1px dotted var(--secondary-color);
}
    
