
/* CSS REUTILIZÁVEL */ 

/* Bordas */
div.ficha header > div:nth-child(n+2),
div.ficha div.linha-de-sexo-e-faixas-etarias span,
div.body div.coluna-de-livro-de-registo span,
.coluna-de-indicadores,
section div.indicadores span,
div.situacao-escolar div.titulo,
section.contracepcao-e-protecao div.subtitulo-2,
div.input-container input {
    border-left: 1px solid var(--cinza5);
}

.container input,
div.ficha div.linha-de-indicadores,
div.grade-de-sexo span.sexo,
div.grade-de-total-parcial span.total,
div.body div.coluna-de-numeros-das-linhas span,
div.body div.coluna-de-livro-de-registo span,
.coluna-de-indicadores section:nth-child(n+2),
section div.indicadores span,
section.consultas div.titulo,
section.contracepcao-e-protecao div.subtitulo-2 span {
    border-bottom: 1px solid var(--cinza5);
}

/* Display: flex */
div.ficha header > div:last-child,
div.ficha header span,
div.coluna-de-numeros-das-linhas span,
div.coluna-de-livro-de-registo span,
section.contracepcao-e-protecao div.subtitulo-2 span {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    max-width: 1150px;
    margin: 30px auto 50px auto;
}

.container input[type=text] {
    font-size: 12px;
    font-weight: bold;
}

.container input[type=number] {
    font-size: 11px;
    text-align: center;
    padding: 1px 2px;
}

.container input[readonly] {
    font-weight: bold;
    cursor: context-menu;
    transition: background-color 400ms ease-out;
}

.container input[readonly].bg-gray {
    background-color: var(--cinza12);
}

.container > header {
    display: grid;
    grid-template-columns: 250px 335px 1fr;
    text-transform: uppercase;
    padding: 5px 5px 5px 50px;
}

header div.emblema-e-republica {
    display: flex;
}

header div.republica {
    line-height: 1.5;
    padding-top: 1px;
}

header div.republica span {
    display: block;
}

header div.geo div {    
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 5px;
    overflow: hidden;
}

header div.geo label {    
    align-self: center;
}

header div.geo input {
    width: 100%;
    margin-left: 4px;
}

header div.visto {
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: initial;
    margin-right: 50px;
}

header div.visto input {
    text-align: center;
    margin-top: 8px;
}

header h1 {
    grid-column: 1/4;
    margin: 20px 0 10px 52px;
}

/* FICHA */
div.ficha header span {
    height: 100%;
    min-height: 24px;
}

div.ficha header {
    display: grid;
    grid-template-columns: repeat(2, 50px) 998px 50px;
    background-color: var(--cor-primaria);
    text-align: center;
    border: 1px solid var(--cinza5);
    border-bottom: none;
    font-weight: bold;
    line-height: 1.5;
    position: sticky;
    top: 0;
    z-index: 10000;
}

div.ficha header > div:first-child {
    background-color: var(--white);
    color: var(--cor-de-texto)
}

div.ficha header > div:nth-child(2),
div.linha-de-indicadores {
    color: var(--white);
}

div.ficha div.linha-de-sexo-e-faixas-etarias {
    display: grid;
    grid-template-columns: 447px repeat(2, calc(45px*5)) 100px;
    grid-template-areas: ". sexo-m sexo-f total-parcial";
}

div.ficha div.linha-de-sexo-e-faixas-etarias div.grade-de-sexo.m {
    grid-area: sexo-m;
}

div.ficha div.linha-de-sexo-e-faixas-etarias div.grade-de-sexo.f {
    grid-area: sexo-f;
}

div.ficha div.linha-de-sexo-e-faixas-etarias div.grade-de-total-parcial {
    grid-area: total-parcial;
}

div.grade-de-sexo {
    display: grid;
    grid-template-columns: repeat(5, 45px);
}

div.grade-de-sexo span.sexo {
    grid-column: 1/6;
}

div.grade-de-total-parcial {
    display: grid;
    grid-template-columns: repeat(2, 50px);
}

div.grade-de-total-parcial span.total {
    grid-column: 1/3;
}

div.grade-de-total-parcial span:nth-child(n+2) {
    font-size: 9.5px;
}

/* BODY DA FICHA */

div.ficha div.body {
    display: grid; 
    grid-template-columns: repeat(2, 50px) 448px repeat(10, 45px) repeat(3, 50px);
    border: 1px solid var(--cinza5);
    border-bottom: none;
}

div.body div.coluna-de-numeros-das-linhas {
    display: grid;
    grid-template-rows: 24px;
}

div.body div.coluna-de-numeros-das-linhas span,
div.body div.coluna-de-livro-de-registo span {
    text-align: center;
}

div.body div.coluna-de-numeros-das-linhas span.fundo-laranja {
    background-color: var(--cor-laranja);
    color: var(--white);
}

div.body div.coluna-de-livro-de-registo {
    display: grid;
    grid-template-rows: calc(24px*2) calc(24px*5) repeat(11, 24px) calc(24px*3) repeat(8, 24px) calc(24px*3) calc(24px*3)  calc(24px*2) repeat(17, 24px) calc(24px*2) repeat(2, 24px) calc(24px*5);
    background-color: var(--cinza13);
}

div.body div.coluna-de-livro-de-registo span:first-child {
    background-color: var(--cor-de-texto);
}

/* Coluna-de-indicadores */
div.coluna-de-indicadores {
    display: grid;
    grid-template-rows: calc(24px*2) calc(24px*7) 24px calc(24px*8) calc(24px*4) calc(24px*2) calc(24px*5) calc(24px*3) calc(24px*5) calc(24px*3) repeat(2, calc(24px*2)) calc(24px*12) repeat(2, 24px) calc(24px*5);
}

/* SECTIONS */
div.coluna-de-indicadores section:nth-child(n+4) {
    display: grid;
    grid-template-columns: 150px 1fr;
}

div.coluna-de-indicadores section div.indicadores {
    display: grid;
    grid-template-rows: 24px;
}

section div.indicadores span {
    min-height: 24px;
    max-height: 24px;
    padding: 1px 4px;
}

section:nth-child(3) div.indicadores span:last-child {
    border-bottom: none;
}

section div.titulo,
section div.indicadores span {
    display: flex;
    align-items: center;
}

section div.titulo  {
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

/* consultas */
div.coluna-de-indicadores section.consultas {
    display: grid;
    grid-template-columns: 60px 1fr;
}

/* Encaminhamento */
div.coluna-de-indicadores section.encaminhamento {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-areas: ". div1" 
                         ". situacao";
}

section.encaminhamento > div.indicadores {
    grid-area: div1;
}

div.situacao-escolar {
    grid-area: situacao;
    display: grid;
    grid-template-columns: 60px 1fr;
    line-height: 1.5;
}

/* Parceiros presentes */
section.parceiros-presentes div.titulo {
    height: 100%;
} 

/* Rastreio de Ca do colo */
section.rastreio-de-ca-do-colo div.titulo {
    flex-direction: column;
    justify-content: space-around;
}

/* Contracepção e Protecção */
section.contracepcao-e-protecao div.titulo {
    display: grid;
    grid-template-columns: 60px 1fr;
}

section.contracepcao-e-protecao div.subtitulo-1 {
    transform: rotate(-90deg) translateY(-45px);
    min-width: 150px;
}

section.contracepcao-e-protecao div.subtitulo-2 {
    display: grid;
    grid-template-rows: calc(24px*3) repeat(3, calc(24px*2)) 24px calc(24px*2);
}

section.contracepcao-e-protecao div.subtitulo-2 span {
    height: 100%;
}

/* INPUT CONTAINER */
div.input-container {
    display: grid;
    grid-template-columns: 45px;
    grid-template-rows: 24px;
}

div.input-container.total {
    grid-template-columns: 50px;
}

div.input-container input {
    max-width: 100%;
    max-height: 100%;
}

/* FOOTER DA FICHA */

div.ficha footer {
    display: grid;
    grid-template-columns: 150px 570px 230px;
    margin-top: 20px;
    justify-content: center;
}

div.ficha footer div.compilacao {
    justify-self: center;
}

/* INTERATIVIDADE DO MENU */
div.caixa-de-pesquisa { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    background-color: var(--azulescuro);
    position: fixed;
    top: -35px;
    right: calc(50vw - 257px / 2);
    visibility: hidden;
    transition: top 200ms linear;
    z-index: 100000;
}

div.caixa-de-pesquisa.on {
    top: 0;
    visibility: initial;
}

div.caixa-de-pesquisa input.pesquisar-linha { 
    min-width: 188px;
    padding: 2px 0 2px 5px;
    border: 2px solid var(--azulescuro) !important;
    background-color: var(--cinza13);
}

div.caixa-de-pesquisa input.pesquisar-linha:focus { 
    border-color: var(--cinza5) !important;
}

div.caixa-de-pesquisa button {
    width: 24px;
    height: 20px;
    font-weight: bold;
}

div.caixa-de-pesquisa button {
    background-color: inherit;
    color: var(--white);
    font-size: 1rem;
    margin-left: 2px;
}

div.caixa-de-pesquisa button:hover {
    background-color: var(--red);
    border-radius: 2px;
}

div.caixa-de-pesquisa button:active {
    opacity: .8;
}

/* FORMATAÇÃO PARA PRINT */

@media print {
    @page {
        margin: 0.25cm;
        margin-bottom: 0.9cm;
    }
}

/* MANIPULAÇÃO DE ELEMENTOS POR JS */
